.menu{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;

    background-color: rgb(226, 155, 0);
} 

.menu td{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;

}

.actual{
    background-color: green;
    display:block;
}